/** --------------------------------------------------
    Variables
-----------------------------------------------------*/
.psf-forum-title:before, .psf-forums-list .psf-forum a:before {
  color: inherit;
  margin-right: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

#psforum-forums .psf-search-form {
  display: none;
}

.psf-forums {
  border: 1px solid #f1f1f1;
}

.psf-forum-header {
  display: none;
}

.psf-forums .hentry {
  margin-bottom: 0;
  padding: 15px 10px;
  position: relative;
}
.psf-forums .hentry:nth-child(even) {
  background: #f9f9f9;
}

.psf-forum-meta {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .forum-titles,
  .psf-forums .hentry {
    display: flex;
    flex: 0 0 10%;
    padding: 15px 10px;
  }

  .psf-forums .hentry {
    margin-bottom: 0;
    padding: 30px 10px;
  }

  .psf-container .hentry {
    display: flex;
  }

  .psf-forum-info {
    padding-left: 20px;
  }
}
.psf-header {
  text-transform: uppercase;
  background: #f9f9f9;
}

.psf-forum-title {
  font-size: 22px;
}

.psf-forums-list a {
  font-size: 18px;
}

.psf-forum-title::before {
  content: '\f086';
  position: absolute;
  left: 5px;
  display: none;
}

.psf-forum-content {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 14px;
}

.psf-forums-list .psf-forum a::before {
  content: '\f086';
}

.psf-topic-content .psf-topic-permalink {
  font-size: 22px;
}

.cb-psf-entry-title {
  display: none;
}

.psf-container .psf-breadcrumb {
  margin-bottom: 15px;
}

/*.forum-titles {
  display: flex;
  justify-content: space-between;
}

.psf-container .hentry {
  background: #F1F1F1;
  padding: 15px;
  border-bottom: 1px solid #E0E4E9;
  border-left: 2px solid transparent;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

a.psf-forum-title {
  color: #121116;
  text-transform: uppercase;
 // font-weight: bold;
}

.psf-forum-content {
  color: #72777c;
  font-size: .8em;
}*/
.psf-body .hentry {
  display: flex;
}

.psf-entry-author {
  flex: 0 0 100px;
}

img.avatar {
  background: transparent;
  border: 0;
  padding: 0;
}

.entry-details-data {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #e1e1e1;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.psf-entry-content {
  padding: 15px 10px;
  flex-grow: 1;
}

.psf-header-meta {
  border-bottom: 1px ridge #ddd;
  padding: 5px 10px;
  font-size: .8em;
}

.reply-auhtor {
  font-size: 1.25em;
}

.reply-auhtor a {
  color: #467ba3;
}

.psf-reply-post-date {
  font-style: italic;
  color: #838383;
}

.psf-reply-permalink {
  float: right;
}

.psf-footer-meta {
  border-top: 1px ridge #ddd;
  padding: 10px;
  font-size: .8em;
}

.psf-footer-meta span {
  float: right;
  margin-right: 5px;
}

.psf-topic-footer-meta span {
  float: none;
  margin-right: 0;
}

.psf-footer-meta a {
  color: #bbb;
}

.psf-footer-meta .psf-reply-ip {
  float: left;
}

.entry-details-data {
  position: relative;
}

@media screen and (min-width: 767.8px) {
  .entry-details-data:before,
  .entry-details-data:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .entry-details-data:before {
    border-color: rgba(238, 238, 238, 0);
    border-right-color: #eee;
    border-width: 15px;
    top: 7px;
  }

  .entry-details-data:after {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #fff;
    border-width: 12px;
    top: 10px;
  }
}
@media screen and (max-width: 767.8px) {
  .psf-entry-author {
    display: none;
  }
}
.psf-form input[type='text'],
.psf-form textarea {
  width: 100%;
}

#psf_stick_topic_select,
#psf_topic_status_select,
#psfs_support_options {
  width: 10em;
}

#psf_forum_id {
  width: auto;
}

.psf-header,
.psf-form div,
.psf-form legend,
#psfs_support_forum_options,
.psf-template-notice,
.psf-submit-wrapper,
.psf-the-content-wrapper {
  margin-bottom: 15px;
}

.psf-pagination {
  margin-top: 30px;
}

#psf_reply_content,
#psf_topic_content {
  height: 180px;
}

.psf-form {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
}

.psf-form legend {
  padding: 2px 5px;
}
